$color_strong_cyan: hsl(172, 67%, 45%);
$color_strong_cyan_transparent: hsla(172, 67%, 45%, 0.5);
$color_very_dark_cyan: hsl(183, 100%, 15%);
$color_very_dark_cyan_transparent: hsla(183, 100%, 15%, 80%);
$color_mid_dark_cyan: hsl(183, 100%, 21%);
$color_dark_grayish_cyan: hsl(186, 14%, 43%);
$color_grayish_cyan: hsl(184, 14%, 56%);
$color_light_grayish_cyan: hsl(185, 41%, 84%);
$color_light_grayish_cyan_transparent: hsla(185, 41%, 84%, 60%);
$color_very_light_grayish_cyan: hsl(189, 41%, 97%);
$color_white: hsl(0, 0%, 100%);

$font_space_mono: 'Space Mono', monospace;

$border-radius-default: 5px;