$color_white: hsl(0, 0%, 100%);
$color_orange: hsl(25, 97%, 53%);
$color_orange_transparent: hsla(25, 100%, 50%, 0.65);
$color_light_gray: hsl(217, 12%, 63%);
$color_medium_gray: hsl(216, 12%, 54%);
$color_dark_blue: hsl(213, 19%, 18%);
$color_very_dark_blue: hsl(215, 27%, 12.4%);
$color_ultra_dark_blue: hsl(228, 11.1%, 8.8%);

$font_overpass: 'Overpass', sans-serif;
$font_merryweather: 'Merriweather', serif;