$color_light_jet_black: hsl(240, 29.6%, 10.6%);
$color_dark_jet_black: hsl(252, 41.7%, 4.7%);
$color_dark_grey_transp: rgba(25, 24, 32, 0.7);
$color_dark_grey: rgb(36, 35, 43);
$color_light_yellow: rgb(246, 203, 104);
$color_grey: rgb(232, 231, 236);
$color_lime: rgb(164, 255, 175);
$color_white: hsl(0, 0%, 100%);

$font_jet_brains: 'JetBrains Mono', monospace;